.titulo {
    width: 300px;
    border: solid 1px #ebebeb;
    padding: 24px;
    margin-left: calc(50% - 150px);
    margin-top: 10%;
    border-radius: 10px;
    background: #8088d7;
    text-align: center;
}

.micalculadora {
    width: 300px;
    border: solid 1px #ebebeb;
    padding: 24px;
    margin-left: calc(50% - 150px);
    margin-top: 1%;
    border-radius: 40px;
    background: #8088d7;
}

.item {
    border: solid 1px #ebebeb;
    padding-left: 19px;
}

.valor1 {
    float: left;
}

div#operacionesSuma {
    border: solid 1px;
    width: 500px;
    text-align: center;
    margin-left: calc(50% - 250px);
    margin-top: 13px;
}